@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import '../src/assets/scss/colors';
@import '../src/assets/scss/screen';

.main {
  font-family: 'Roboto', sans-serif;
  background: $light-gray;
  display: block;
  width: 100%;
  min-height: 100%;
  height: auto;
  &--navigation {
    @media screen {
      @media (min-width: $screen-md) {
        & {
          width: 80%;
          max-width: 1200px;
          margin: 0 auto;
        }
      }
    }
  }
}
