@import '../../assets/scss/colors';
@import '../../assets/scss/screen';
@import '../../assets/scss/mixins';

.container {
  background: $color-background-container;
  display: flex;
  flex-direction: column;
  @media only screen {
    @media (min-width: $screen-md) {
      & {
        padding: 32px;
      }
    }
  }
}

.product {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media only screen {
    @media (min-width: $screen-md) {
      & {
        flex-direction: row;
      }
    }
  }
}

.image {
  width: 100%;
  text-align: center;

  @media only screen {
    @media (min-width: $screen-md) {
      & {
        min-width: 60%;
        max-width: 680px;
        margin-right: 40px;
      }
    }
  }
}

.description {
  margin-top: 32px;
  padding: 0 32px;

  @media only screen {
    @media (min-width: $screen-md) {
      & {
        padding: 0;
      }
    }
  }

  .subtitle {
    @include fontSize(28px);
    margin-bottom: 32px;
  }

  .text {
    @include fontSize(16px);
    color: $color-description;
    line-height: 18px;
    width: 100%;
    max-width: 680px;
  }
}
