@import '../../assets/scss/colors';
@import '../../assets//scss//screen';

.container {
  background: $color-header;
  width: 100%;
  height: 70px;

  &Safe {
    width: 100%;
    height: inherit;
    align-items: center;
    display: flex;
    @media only screen {
      @media (min-width: $screen-md) {
        & {
          max-width: 1200px;
          margin: 0 auto;
        }
      }
    }
  }
}

.logotype {
  display: block;
  margin-right: 23px;
}
